@media screen and ( max-width:760px )
{
	body
	{
    }

    #header{
        height: 34%;
        display: flex;
        flex-grow: 2;
        flex-direction: column;
        /*height: 180px;*/
    }

    #input_form{
        width: 80%;
        padding: 0% 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    

    #result{
        display: flex;
        flex-direction: column;
        flex-wrap: row;
        padding:20px;
    }
    
    #result{
        display: flex;
        flex-direction: column;
        flex-wrap: column wrap;
        padding:20px;
    }
}