html{
    /*height:100%;*/
}

body{
    /*height: 100%;*/
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#header{
    background-color: #3273dc;
    color: #FFFFFF;
    height: 28%;
    display: flex;
    flex-grow: 2;
}

#title_and_subtitle{
    margin: 10px 10px 10px 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

#site_title{
    display: flex;
    align-items: center;
    justify-content: center;
}

#description{
    display: flex;
    align-items: center;
    justify-content: center;
}

#input_form{
    width: 50%;
    padding: 0% 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input_form_main{
    flex-grow: 5;
    height: 35px;
}

#result{
    padding:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
}

#whats{

}

#example{

}

#news{

}

#tips{

}

#thanks{

}

.flex_column{
    display: flex;
    flex-direction: column;
}

.textform{
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}

.text_contents{
    padding: 20px;
    width: 100%;
    flex-grow: 1;
}

.padding_20px{
    padding: 20px;
}