<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>bch2019tokyo</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bch2019.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bch2019_res.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/tag.css')}}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
    <div id="header">
        <div class="flex_column">
            <div id="title_and_subtitle">
                <h1 id="site_title">Hyper Collocation</h1>
                <h2 id="description">dictionary based on arXiv repository</h2>
            </div>
        </div>
        <div id="input_form">
            <form method="POST" action=""> 
		<textarea name="text_form" row="4" column="10"></textarea>
                <input type="submit" id="submit" value="送信">
            </form>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>